@model IEnumerable<spice.Models.MenuItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container border category-area">
        <div class="row category-area-upper">
            <div class="col-md-6 text-left">
                <strong>Category List</strong>
            </div>
            <div class="col-md-6 text-right">
                <a asp-action="Create" class="btn btn-primary btn-sm">Create New</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                @if (Model.Count() > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Category)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SubCategory)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubCategory.Name)
                                    </td>

                                    <td>
                                        <partial name="_CreateDataTableActionButton" model="@item.Id" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                 <p class="border text-center text-danger" style="padding:10px; margin-top:25px"> No Records Exists </p>
                }
            </div>
            </div>
        </div>
